.bg-custom-red {
  background-color: #ccb881dc;
}

main{
  min-height: 100vh;
  margin-bottom: -100px;
}
footer, .push{
  height: 100px;
}
footer{
  background-color: #ccb881dc;
}

.divider:after,
.divider:before {
content: "";
flex: 1;
height: 1px;
background: #eee;
}
.h-custom {
height: calc(100% - 73px);
}
@media (max-width: 450px) {

}